/*
*
*
*     Body
*
*
*/
body{
    margin :0px !important;
    background: url('../images/texture.png');
    background-attachment: fixed;
}

/*
*
*
*     Navbar
*
*
*/
.navbar-default{
    margin-bottom :0px !important;
}

/*
*
*
*     Breadcrumb
*
*
*/
.breadcrumb{
    padding-left:50px;
    background-color:transparent;
}
.breadcrumb a{
    color:lightgray;
}

/*
*
*   Divider
*
*/
.divider-vertical {
    height: auto;
    margin: 0 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #eaeaeafff;
}

/*
*
*
*   Alignement ( textes, images, ...)
*
*
*/

.img-center{
    display: block;
    margin: 0 auto;
}

.center{
    text-align:center;
}

/*
*
*
*   Captions
*
*
*/

.caption{
    color:grey;
}
.caption img{
    -webkit-transition: margin-top 1s; /* Safari */
    transition: margin-top 1s;
}
.caption p{
    -webkit-transition: margin-top 1s; /* Safari */
    transition: margin-top 1s;
}
.caption:hover{
    color:grey;
    font-weight:600;
}
.caption:hover img{
    margin-top:-10px;
}
.caption:hover p{
    margin-top:10px;
}

.modal-backdrop{
    z-index: 0;
}

.modal-sm {
    width: 500px;
}

.modal_error{
    font-weight: 900;
    color:red;
    text-align:center;
}

.modal-body .form-group label{
    color : black !important;
}

.modal-body .checkbox label{
    color : black !important;
}

.date{
    padding-left: -15px !important;
    padding-right: -15px !important;
}

.paddingTop{
    padding-top: 30px;
}

div.col-md-6{
    padding-right:0px;
    padding-left:0px;
}

.row{
    padding-top:20px;
    margin:0;
    padding-bottom: 20px;
}

.box{
    border: solid 1px;
    border-color: #ddd;
    border-radius: 5px;
    //box-shadow:#555 3px 3px 10px;
    margin-bottom: 15px;
    display: inline-block;
    background-color: rgba(255,255,255,0.6);
}

.box h3{
    text-align:center;
    color:#555;
}

.box span{
    text-align:right;
    color:black;
    padding-left:10px;
}

.box p{
    color:grey;
}

.box a{
    float:right;
    margin-bottom: 10px;
}

.parametres{
    text-align:right;
    margin-bottom : 10px;
}

@media screen and (max-width:767px){
    .row{
        margin-top: 80px;
    }
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.mouvements {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #000000;
}.mouvements table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.mouvements tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.mouvements table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.mouvements table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.mouvements tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}
.mouvements tr:nth-child(odd){ background-color:#e5e5e5; }
.mouvements tr:nth-child(even)    { background-color:#eaeaeafff; }
.mouvements td{
    vertical-align:middle;
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:10px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.mouvements tr:last-child td{
    border-width:0px 1px 0px 0px;
}.mouvements tr td:last-child{
    border-width:0px 0px 1px 0px;
}.mouvements tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.mouvements th{
    background:-o-linear-gradient(bottom, #f7f7f7 5%, #f7f7f7 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #f7f7f7) );
    background:-moz-linear-gradient( center top, #f7f7f7 5%, #f7f7f7 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f7f7f7");
    background: -o-linear-gradient(top,#f7f7f7,f7f7f7);
    background-color:#f7f7f7;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#000000;
}
.mouvements tr:hover td{
    background:-o-linear-gradient(bottom, #f7f7f7 5%, #f7f7f7 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #f7f7f7) );
    background:-moz-linear-gradient( center top, #f7f7f7 5%, #f7f7f7 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f7f7f7");
    background: -o-linear-gradient(top,#f7f7f7,f7f7f7);
    background-color:#f7f7f7;
}
.mouvements tr:first-child td:first-child {
    border-width: 0px 1px 1px 0px;
}
.mouvements tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

.marginLeft{
    margin-left:20px;
}

.sidebar-nav a{
    cursor:pointer;
}

.favoris .glyphicon-star-empty{
    color:#EFD807;
    padding-left:10px;
    padding-right:10px;
}

.favoris .glyphicon-remove{
    color:red;
    padding-left:10px;
    padding-right:10px;
    cursor:pointer;
}
.favoris .glyphicon-remove:hover{
    color:darkred;
}

.favoris a{
    cursor:pointer;
}

.textcenter
{
    text-align: center;
}

.noMargin{
    margin : 0;
}

#search{
    margin-bottom: 20px;
    margin-top: 20px;
}

.progress{
    margin-top: 10px;
}

.glyphicon{
    padding-right:10px;  
}

a{
    cursor : pointer;
}

.gridster li{
    background-color: white;
    list-style : none;
    cursor : pointer;
}

.nav-tabs > li > a{
    background-color: whitesmoke;
}

.remove{
    color:red;
    cursor:pointer;
    padding:5px;
}

.modal{
    color:black !important;
}

.modal h4{
    color:black !important;
}

.tt-menu{
    background-color: white;
    width: 100%;
    border:solid 1px #999;
    border-radius: 5px;
}
.tt-suggestion{
    padding:10px;
    color:black;
}
.typeahead{
    width:100%;
}
.twitter-typeahead{
    width:100%;
}

.text-right{
    text-align:right !important;
}

.text-left{
    text-align:left !important;
}

.not-color{
    color:black !important;
}

.tab-pane{
    margin-top: 15px
}

.noPadding{
    padding : 0;
}

.green{
    color:green;
    font-size : 30px;
}

.glyphicon{
    cursor : pointer;
}

.glyphicon-remove-circle{
    color:red;
}

.red{
    color:red;
    font-size:30px;
}

.ent-list{
    //display:none;
    padding: 20px;
}

.liste{
    background-color:whitesmoke;
    border-bottom: solid 1px white;
    padding:10px;
}
.btn-contact
{
    text-align: right;
    margin-bottom: 15px;
}
label.control-label
{
    text-align: right;
    padding-top: 7px;
    float: left;
}

.control-group{
    padding-bottom: 15px;
}

.champs_persos{
    margin-bottom: 15px;
}

.marginRight{
    margin-right: 20px;
}

.perror{
    text-align : center;
    padding : 5px;
    margin : 15px;
    color : #d5d5d5 !important;
    font-weight : 600;
}

.perror i{
    padding : 10px;
}

/*
    LOGIN
*/

.admin-log-on p {
    line-height: 18px;
}
.admin-log-on a.small {
    display: block;
    color: #eaeaea;
    margin-top: 25px;
}
.admin-log-on a.small:hover, .admin-log-on a.small:focus {
    color: #d5d5d5;
}
.admin-log-on .login-panel {
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 8% 0;
}
.admin-log-on .login-panel .panel-logo {
    margin-bottom: 8%;
}
.admin-log-on .login-panel .panel-logo > img {
    display: block;
    margin: 0 auto;
    max-height : 150px;
}
.admin-log-on .login-panel .panel-form .error, .admin-log-on .login-panel .panel-form .checked {
    margin: 0 auto 25px auto;
}
.admin-log-on .login-panel .panel-form .checked {
    color: green;
}
.admin-log-on .login-panel .panel-form .form-group {
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}
.admin-log-on .login-panel .panel-form .form-group label {
    color: #d5d5d5;
    padding : 5px;
}
.admin-log-on .login-panel .panel-form .form-group input {
    display: block;
    margin: 0 auto;
    text-align: center;
    width : 80%;
}
.admin-log-on .login-panel .panel-form .form-group:last-child {
    margin-bottom: 0 !important;
    margin-top: 50px !important;
}
.admin-log-on .login-panel .panel-form .button {
    width: 200px;
    border-color: #eaeaea;
    color: #eaeaea;
    background-color:transparent;
    padding : 10px;
}
.admin-log-on .login-panel .panel-form .button:hover, .admin-log-on .login-panel .panel-form .button:focus {
    color: #d5d5d5;
    border-color: #d5d5d5;
}

.fa-size{
    font-size : 35px !important;
    color:white;
    text-align:center;
}

.fa-size:hover{
    cursor : pointer;
}

.fa-location-arrow{
    font-size:18px !important;
}
/*
*
*  Nav tabs
*
*/
.nav-tabs{
    margin-top : 25px;
    border : none;
    text-align:center;
}

.nav-tabs li{
    text-align:center;
    text-transform : uppercase;
    float : none;
    display:inline-block;
    *display : inline;
    zoom : 1;
}

.nav-tabs li:hover a{
    color:black;
}

.nav-tabs li a{
    background : transparent;
    font-size : 10px;
    border : solid 1px #e5e5e5;
    border-radius : 0px;
    color : white;
    padding: 10px;
}

/*

    Projet liste

*/

.projet{
    border : solid 1px grey;
    background : white;
    margin-bottom:15px;
}

.projet .projet-header{
    padding : 15px;
    text-align:center;
}

.projet .projet-header:after{
        content: "";
        display: block;
        height: 1px;
        width: 40%;
        background: black;
        text-align:center;
        margin:0 auto;
        margin-top: 10px;
}

.projet .projet-title a{
    color : black;
    font-size : 25px;
    font-weight : 700;
    text-decoration: none;
}

.projet .projet-container{
    padding-left : 50px;
    padding-right : 50px;
    color : black;
}

.projet .projet-body{
    text-align:center;
}

.projet .projet-body .projet-details .detail-left{
    text-align:right;
    padding-right : 30px;
}

.projet .projet-body .projet-details .detail-right{
    text-align:left;
    padding-left : 30px;
}

.projet .projet-body .projet-aide{
    margin-left : 5px;
    padding : 0;
}

.projet .projet-body .projet-btn{
    float : none;
    display:inline;
}

.projet .projet-body .projet-btn a{
    margin : 10px;
    background : transparent;
    color:black;
    width : auto;
    border-radius : 0px;
    border : solid 1px black;
    padding : 6px 12px;
}

.projet .projet-body .projet-btn a.active{
    background : black !important;
    color: white !important;
}

.projet .projet-body .projet-btn a:hover{
    margin : 10px;
    background : black;
    color:white;
    border-radius : 0px;
    border : solid 1px black;
}
.projet .projet-body .small{
    margin : 5px !important;
    background : transparent !important;
    color:black !important;
    width : auto !important;
    border-radius : 0px !important;
    border : solid 1px black !important;
    padding : 3px 6px !important;
    font-size : 10px !important;
    margin-top : 17.5px !important;
}

/*

    Bouttons

*/
.btn{
    border-radius : 0px;
    background : transparent;
}

.btn-warning{
    color:orange;
}

.btn-success{
    color: #4CAE4C;
}

.btn-info{
    color: #46B8DA;
}

.btn-primary{
    color: #204D74;
}

.btn-default{
    color: #ADADAD;
}

/*

    Legend des formulaires

*/
legend{
    padding : 15px;
    text-align:center;
    font-size: 25px;
    border : none;
}

legend:after, .hr:after{
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    background: #eaeaea;
    text-align:center;
    margin:0 auto;
    margin-top: 10px;
}

.hrblack:after{
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    background: #000000;
    text-align:center;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom : 10px;
}

/*

    Détail d'un projet

*/
.detail-projet h1{
    text-align:center;
}

.nav-tabs span{
    color : #eaeaea;
    margin : 20px;
}

h3{
    text-align:center;
    color: #eaeaea;
}

/*

    Marches

*/
.marche{
    background-color : #eaeaea;
    padding : 10px;
    margin-bottom : 20px;
}

.marche h4{
    font-weight : 900;
    text-decoration : underline;
}

.marche h4 a{
    color : black;
    text-decoration : none;
}

.marche .col-md-6{
    padding : 10px;
}

.marche-content{
    padding : 0;
}

.marche-footer{
    padding : 0;
}

.marche-footer a{
    top: -45px;
    margin : 10px;
    right:10px;
    position:absolute;
    background : transparent;
    color:black;
    width : auto;
    border-radius : 0px;
    border : solid 1px black;
    padding : 6px 12px;
}

.marche-footer a.active{
    background : black !important;
    color: white !important;
}

.marche-footer a:hover{
    margin : 10px;
    background : black;
    color:white;
    border-radius : 0px;
    border : solid 1px black;
}

/*


    Details marche


*/
.detail-marche h2{
    color : #eaeaea;
    text-align:center;
    margin : 0;
    padding-bottom : 10px;
}

.detail-marche h4{
    color : #eaeaea;
    text-align:center;
    padding-bottom : 20px;
}

/*

    Facturation

*/

.form-facture h3{
    padding-bottom : 10px;
}

.chosen-container{
    height : 0px !important;
    display : block !important;
    background-color : transparent !important;
    border : none !important;
}

.facture{
    background-color : transparent;
    margin-bottom : 30px;
}

.facture h4{
    font-weight : 900;
    text-decoration : underline;
}

.facture h4 a{
    color : black;
    text-decoration : none;
}

.facture-content{
    background-color : #eaeaea;
}

.facture-centered div{
    float : none;
    margin : 0 auto;
}

.facture-payement{
    padding : 10px;
}


/*

    Konami

*/
.konami{
    cursor : pointer;
    width : 100%;
    height : 100%;
    position:absolute;
    background : rgba(0,0,0,0.9);
    z-index: 100000000000000000;
}

.konami img{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.konami iframe{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}


.facture-payement .small{
    margin : 5px !important;
    width : auto !important;
    background : transparent !important;
    color : black !important;
    border-radius : 0px;
    border-color: black;
    padding : 3px 6px !important;
    font-size : 10px !important;
    margin-top : 17.5px !important;
}

.bottom{
    position : fixed;
    margin : 0 auto;
    bottom : 0;
    left : 0;
    right : 0;
    max-height : 40px;
    background-color : #252525;
    color : whitesmoke;
}

.detail-facture{
    bottom : 10px;
}

/*Champs rechercher*/
.module__tools {
  display: table;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}
.module__tools input {
  display: inline-block;
  width: 300px;
  margin-right: 15px;
  vertical-align: middle;
}
.module__tools input:focus {
  border-color: #848484;
  width : 600px;
  margin-left : -225px;
}

 .custom-search {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 52px;
  margin-right: 15px;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
 .custom-search .custom-search-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  background-color: #242424;
  color: #fff;
  border: 1px solid #242424;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
 .custom-search .custom-search-button:hover,  .custom-search .custom-search-button:focus {
  background-color: #f5f5f5;
  color: #242424;
}
 .custom-search .custom-search-input {
  width: 100%;
  padding: 15px;
  border: 1px solid #242424;
  background-color: #f5f5f5;
  background-position: 15px center;
  background-repeat: no-repeat;
  text-align: left;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
 .custom-search.isFocused {
  width: 350px;
}
 .custom-search.isFocused .custom-search-input {
  border-color: #848484;
}

/*

    Reglements liste

*/

.reglement{
    border : solid 1px grey;
    background : white;
    margin-bottom:15px;
}

.reglement .reglement-body{
    text-align:center;
}

.reglement .reglement-details{
    padding-bottom: 0px;
}

.reglement .reglement-body .reglement-details .reglement-left{
    text-align:right;
    padding-right : 30px;
}

.reglement .reglement-body .reglement-btn{
    float : none;
    display:inline;
}

.reglement .reglement-body .reglement-btn a{
    margin : 10px;
    width : auto;
    padding : 6px 12px;
}

.reglement .reglement-body .small{
    margin : 5px !important;
    width : auto !important;
    padding : 3px 6px !important;
    font-size : 10px !important;
    margin-top : 17.5px !important;
}

.reglement .reglement-body .btn-danger{
    color:red !important;
}

.reglement .reglement-body .btn-danger:hover{
    color:white !important;
}

.panel{
    background-color:transparent;
    border:none;
}

.panel-heading{
    border-radius : 3px;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top:none;
    background:white !important;
}

.a-fiche-contact{
    float:right;
}

.a-fiche-contact i{
    color:darkcyan;
}

.fa-plus{
    width:30px;
    color:darkcyan;
    text-decoration:none;
}

.fa-plus:hover{
    width:30px;
    color:darkcyan;
    text-decoration:none;
}

.fa-plus:active{
    width:30px;
    color:darkcyan;
    text-decoration:none;
}

.fa-plus:visited{
    width:30px;
    color:darkcyan;
    text-decoration:none;
}

.chosen-drop{
    margin-top:30px !important;
}

#surfaces{
    width:100%;
    color:whitesmoke;
    text-align:center;
}

#surfaces tr{
    padding-bottom:5px;
}

#surfaces tr td{
    padding-right:10px;
}

#accordion-lots .panel .panel-collapse .panel-body{
    background-color:#fff;
}

s{
    color:red;
}

.borderRight{
    border-right: solid 1px lightgray;
}

.table{
    background-color:white;
}

.detail-projet-menu a img{
    padding:10px;
}

.detail-projet-menu{
    position:fixed;
    right:10px;
    top:250px;
}

.detailsProjets{
    background-color:whitesmoke;
}

.detailsProjets h3{
    color:darkgrey !important;
}
.detailsMarches{
    background-color:whitesmoke;
    padding:10px;
}

.detailsMarches h3{
    color:darkgrey !important;
}

.bgWhite{
    background-color:whitesmoke;
    color:black !important;
}

.black{
    color:black;
}

.white{
    color:white;
}

.vente_panel{
    margin-bottom:10px;
}

.vente_panel:nth-child(odd){
    border-right: solid 10px black;
}

.modal-content{
    color:white !important;
    background: url('../images/texture.png');
}

.modal-body .form-group label{
    color:white !important;
}

.modal-header{
    display:none;
}

.modal-footer{
    border:none !important;
    background: transparent !important;
}



.marginBottom{
    margin-bottom:20px;
}

.export{
    background-color:whitesmoke;
    padding:10px;
}

.export h3{
    color:darkgrey !important;
}

.export table tr td{
    vertical-align:middle;
}